body{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

#home-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: rgb(234, 243, 243)
}

.home-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* ================================== header ========================== */

.header{
    position: relative;
    flex: 0 0 3.6rem;
    order: 1;
    background-color: #F7FAFC;
}

.mobile>.header{
    border-bottom: solid 0.063rem rgba(136,152,170, .12);
}

.header-box{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: .4rem .8rem;
}

.avatar-box{
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.avatar-box> .avatar{
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 .21rem .6rem -.25rem rgba(0,0,0,.8)
}

.user-detail-box{
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: .6rem;
}

.name-box{
    font-size: 1rem;
    font-weight: 600;
    color: #5B5B5B;
}

.status-box{
    font-size: .8rem;
    font-style: italic;
    margin-top: .3rem;
    color: #5B5B5B;
}

.control-box{
    position: relative;
    flex: 0 0 auto;
    display: flex;
    height: 100%;
}

.button-box{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-left: .2rem;
}

.ico-box{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: .4rem;
    border-radius: 50%;
    transition: all .2s;
}

.mobile>.header>.header-box>
.control-box>.button-box>.ico-box:active{
   background-color: rgb(248, 213, 213);
}

.desktop>.header>.header-box>
.control-box>.button-box>.ico-box:hover>.material-icons{
   color: #EF5353;
}
.desktop>.header>.header-box>
.control-box>.button-box>.ico-box:active{
   background-color: rgb(248, 213, 213);
}

.material-icons {
    color: #5B5B5B;
    line-height: 100%;
    font-size: 1.4rem !important;
}



/* =================================== content ======================= */

.mobile>.content{
    order: 2;
    position: relative;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
}

.desktop>.content{
    order: 3;
    position: relative;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
}

/* =================================== tab ========================== */

.mobile>.tab{
    order: 3;
    position: relative;
    flex: 0 0 3rem;
    background-color: #F7FAFC;
}

.desktop>.tab{
    order: 2;
    position: relative;
    flex: 0 0 3rem;
    background-color: #F7FAFC;
}

.mobile>.tab> .tab-box,
.desktop>.tab> .tab-box{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.tab-items{
    flex: 1 1 auto;
    padding: .4rem .6rem;
    color: #5B5B5B;
    transition: all .2s;
}

.mobile>.tab>.tab-box>.tab-items:active>.item>label, 
.mobile>.tab>.tab-box>.tab-items:active>.item>.material-icons{
    color: rgba(239, 83, 83, .3);
}

.desktop>.tab>.tab-box>.tab-items:hover>.item>label, 
.desktop>.tab>.tab-box>.tab-items:hover>.item>.material-icons{
    color: #EF5353;
}
.desktop>.tab>.tab-box>.tab-items:active>.item>label, 
.desktop>.tab>.tab-box>.tab-items:active>.item>.material-icons{
    color: rgba(239, 83, 83, .3);
}

.tab-active>.item>.material-icons,
.tab-active>.item>label {
    color: #EF5353;
}

.tab-items> .item{
    display: flex;
    flex-direction: column;
    justify-content: ce                                                                                                                                                                                                                                                                                                                                                                                                                                                                          nter;
    align-items: center;
}

.item> label {
    margin-top: .2rem;
    font-size: .8rem;
}

[role="button"]{
    cursor: pointer;
    -webkit-tap-highlighst-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}